body {
  height: 99vh;
  margin: 0;
  background: #032429;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
  margin-top: 40vh;
  position: relative;
}

.basic-slide {
  display: inline-block;
  width: 215px;
  padding: 12px 0 10px 15px;
  font-family: "Open Sans", sans;
  font-weight: 400;
  color: #377D6A;
  background: #efefef;
  border: 0;
  border-radius: 3px;
  outline: 0;
  text-indent: 70px;
  transition: all .3s ease-in-out;
}

.basic-slide + label {
  display: inline-block;
  height: 100%;
  padding: 10px 15px;
  text-shadow: 0 1px 0 rgb(19 74 70 / 40%);
  background: #7AB893;
  transition: all .3s ease-in-out;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.row {
  max-width: 800px;
  margin: 0 auto;
  padding: 60px 30px;
  position: relative;
  z-index: 1;
  text-align: center;
}

